{% extends "oms/oms_base.html" %}
{% block body_block %}
<h1>Welcome to list of all employees</h1>
<a class = 'btn btn-success btn-sm 'href="{% url 'oms:employee_create'%}">Create new employee</a><p>
    <table style="font-size:14px;" class="table table-hover" style='width:100%'>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Country</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td> <a href="{{employee.id}}">{{employee.fname}}</a></td>
                <td> {{employee.lname}} </td>
                <td> {{employee.country}} </td>
                <td> {{employee.address}} </td>
                <td> {{employee.telephone}} </td>
                <td> {{employee.active}} </td>
                <td>
                    <a class = 'btn btn-warning btn-sm' href="{% url 'oms:employee_update' pk=employee.pk %}">Update</a>
                    <a class = 'btn btn-danger btn-sm' href="{% url 'oms:employee_delete' pk=employee.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Country</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
       </tfoot>
    </table>
{% endblock %}
